@import './colors.scss';

.home {
  .menu {
    position: relative;
    padding: 0 141px;
    li {
      font-size: 14px;
      border-bottom: 2px solid black;
      padding: 0 10px;
    }
  }
  .container {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    margin-top: 150px;
  }
  .sub {
    width: 200px;
  }
  .applyDiv {
    margin-top: 32px;
    button {
      height: 64px;
      width: 185px;
      border-radius: 20px;
      background-color: black;
    }
  }
}

.application {
  width: 100%;
  .title {
    margin-left: 300px;
    span {
      font-size: 25px;
      text-align: center;
    }
  }
  .form{
      padding: 50px 40px;
      border-radius: 20px;
      margin-top: 30px;
      width: 800px;
      margin-left: 110px;
      margin-bottom: 80px;
  }
}
