@import '../../styles/colors.scss';
.logo{
  position: relative; 
}

.layout {
  background: radial-gradient(50% 50% at 50% 50%, #faff00 21.35%, rgba(128, 255, 0, 0.58) 100%);
  min-height: 100vh;
  overflow-x: hidden;
  .ov {
    margin-left: 400px;
    padding-bottom: 180px;
    &::before {
      content: '';
      transform: rotate(2.13deg);
      position: absolute;
      width: 100%;
      background: $yellow;
      top: 0;
      margin-top: -8vh;
      bottom: 150px;
    }
  }
}

.header {
  padding-left: 300px;
  padding-right: 69px;
  z-index: 100;
  ul {
    display: flex;
    justify-content: space-between;
  }
  .logoutBtn {
    background: linear-gradient(180deg, rgba(128, 255, 0, 0.58) 41.67%, #00ff94 87.5%);
    border-radius: 20px;
    width: 100px;
    height: 50px;
  }
}

.dashboard {
  padding-left: 153px;
  padding-top: 160px;
  overflow-x: hidden;
  overflow-y: auto;
  .container {
    min-height: 100vh;
    position: relative;
    padding-top: 30px;
    &::after {
      content: '';
      position: absolute;
      background: white;
      left: 0;
      right: -5%;
      bottom: -50px;
      transform: rotate(-2.77deg);
      top: 0;
    }
  }
  .applicants{
    position: relative;
    z-index: 100;
  }
}